{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Playfair+Display:wght@500&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bulma.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav class="navbar has-text-white has-background-black-bis" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <!-- navbar items, navbar burger... -->

    <a href="/admin" class="navbar-item"> Админка</a>
</div>
</nav>
<div class="columns is-centered">

    <div class="column is-half">

         {% block content %}
    </div>
         {% endblock %}
    </div>
</div>
</body>
</html>