{% extends "blog/base.html" %}
{% block title %} Мой блог{% endblock %}
{% block content %}
<h1 class="is-size-4 title has-text-centered">  Блог о программировании</h1>
{% for post in posts %}

<div class="blog_wrap">
        <h5 class="is-size-5 has-text-centered" > {{ post.title }}</h5>
    <p class="blog_body"> {{ post.body|linebreaks|truncatewords:30 }}</p>
    <p class="blog_time">  Опубликовано {{post.publish}}   by {{post.author}}</p>
    <a href="{{ post.get_absolute_url }}">
        продолжить чтениe...
    </a>


</div> {% endfor %}
 {% endblock %}

